/* You can add global styles to this file, and also import other style files */
.dark .left-panel {
  background-color: purple !important;
}


.light .left-panel {
  background-color: yellow !important;

}
